/GNUmakefile
/build/
/.cache/
/.vscode/
*.pyc
.sdk
.stgit-*
.git-submodule-status
.clang-format
.gdb_history
cscope.*
tags
TAGS
GPATH
GRTAGS
GTAGS
*~
*.ast_raw
*.depend_raw
*.swp
*.patch
*.gcov

.dir-locals.el
.editorconfig
.exrc
.gdbinit
.git-blame-ignore-revs
.gitattributes
.github/
.gitlab-ci.d/
.gitlab-ci.yml
.gitlab/
.gitmodules
.gitpublish
.mailmap
.patchew.yml
.readthedocs.yml
.travis.yml

